.DS_Store
.env
node_modules/
yarn-error.log
newrelic_agent.log
.netlify
.parcel-cache
.history
generated
*.redis
.pnpm-store/
**/.idea
.gitlab-ci-local/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

snapshot.sql
junit.xml
**/junit.xml

staging-db.dump
bin/data/*.json

.vercel
.turbo
